.circle_dimensions {
    width: 100px;
    height: 100px;
    border-radius: 5em;
    margin: 0 auto;
}

.severity_none {
    background-color: green;
}

.severity_not_classified {
    background-color: darkgray;
}

.severity_information {
    background-color: cornflowerblue;
}

.severity_warning {
    background-color: yellow;
}

.severity_average {
    background-color: orangered;
}

.severity_high {
    background-color: red;
}

.severity_disaster {
    background-color: darkred;
}

.trigger_card {
    height: 100px;
}