.severity_none {
    background-color: green;
}

.severity_not_classified {
    background-color: darkgray;
}

.severity_information {
    background-color: cornflowerblue;
}

.severity_warning {
    background-color: yellow;
}

.severity_average {
    background-color: orangered;
}

.severity_high {
    background-color: red;
}

.severity_disaster {
    background-color: darkred;
}

/*.trigger_card {
    height: 100px;
    overflow: hidden;
    transition: max-height 0.2s cubic-bezier(0, 1, 0.5, 1);
}

.trigger_card:hover {
    max-height: 500px;
}*/

.table {
    color: white;
    background: url("../img/black_lozenge/black_lozenge.png") repeat;
    border-radius: 0.2em;
}

md-card, .trigger_card {
    height: 100px;
    width: auto;
    position: relative;
    transition: all 0.45s ease-in-out;
    transition-delay: 0.18s;
}

md-card:hover {
    height: 500px;
    z-index: 99;
}

.dash_trigger {
    height: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: all 0.45s ease-in-out;
    transition-delay: 0.18s;
}

md-card:hover .dash_trigger {
    /*visibility: visible;
    opacity: 1.0;
    display: inline;*/
    z-index: 100;
}

@keyframes fadeIn {
    0%    { opacity: 0; }
    50%   { opacity: .5; }
    100%  { opacity: 1; }
}

@keyframes fadeOut {
    0%    { opacity: 1; }
    50%   { opacity: .5; }
    100%  { opacity: 0; }
}

.ng-enter, .ng-show  {
    animation: fadeIn 0.3s both ease;
    animation-delay: 0.23s;
}

.ng-leave, .ng-hide  {
    animation: fadeOut 0.2s both ease;
    z-index: -1;
    overflow: hidden;
}